<!-- home.component.html -->
<div class="container">
    <h1 class="display-4 text-center mt-4">Proyecto de Buenas Prácticas de Desarrollo</h1>
    <p class="lead text-center mb-4">
      Este proyecto es una iniciativa como parte de las prácticas universitarias, diseñado para fomentar y destacar las buenas prácticas de desarrollo en proyectos de Angular y en el desarrollo de software en general.
    </p>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Origen del Proyecto</h5>
            <p class="card-text">
              Este proyecto se origina como resultado de las prácticas universitarias de un estudiante de Ingeniería de Sistemas. Su objetivo es resaltar la importancia de seguir buenas prácticas de desarrollo en el ámbito académico y empresarial.
            </p>
            <p class="card-text">
              El proyecto tiene como propósito principal educar a la comunidad académica y empresarial sobre la relevancia de las buenas prácticas de desarrollo y cómo influyen positivamente en la calidad de los proyectos de software.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  